 body {
     font-family: "Arial", sans-serif;
 }
 
 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#etat_game{
    align-items: center;
    justify-content: center;
    font-size:20px;
    text-align:center;
    width:400px;
    display:none;
    background-color: rgb(126, 126, 245);
    border:3px solid rgb(65, 65, 233);
    margin: 10px 0;
    padding: 10px;
}
#replay{
    width:70px;
    background-color:#15a6fa;
    color: white;
    margin-left:10px;
    padding: 8px 10px;
    width: 80px;
    text-decoration: none;
}
#replay:hover {
    text-decoration: none;
    color: white;
}
.ligne{
    display:flex;
}
.button_cellule{
    height:50px;
    width:50px;
    background-color:#7b7b7b;
}
.button_cellule_display{
    font-weight: bold;
    font-size:20px;
    height:50px;
    width:50px;
}
.button_mine{
    height:50px;
    width:50px;
    background-image: url('./image/bomb.png');
    background-repeat: no-repeat;
    background-position: center;
}
.text-red{
    color:red ;
}
.text-blue{
    color:blue ;
}
.text-green{
    color:green;
}
/* CSS FORMULAIRE */
.size_zone {
    background: lightgrey;
    padding: 50px;
    border-radius: 20px;
  }
  .size_zone > p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .setting_bloc {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .setting_bloc span{
    margin-bottom: 5px;
  }
  .setting_bloc input {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    height: 20px;
  }
  .setting_bloc input:focus {
    outline: none;
  }
  #setting {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: #74b9ff;
    border: none;
    cursor: pointer;
  }
  #setting:focus {
    outline: none;
  }
  #setting:hover {
    background: #00cec9;
  }